<loading-spinner *ngIf="isLoading" message="Loading Mnufcturers..." (cancel)="hideSpinner()" />
<div>
  <div class="d-flex justify-content-end">
    <a [routerLink]="['/manufacturers/create']" class="btn btn-primary">
      Create New
    </a>
  </div>

  <h1>
    Manufacturers
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let manufacturer of manufacturers">
        <td>{{manufacturer.id}}</td>
        <td>{{manufacturer.name}}</td>
        <td>{{manufacturer.description}}</td>
        <td>
          <a [routerLink]="['/manufacturers/edit', manufacturer.id]" class="btn btn-secondary">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
