
<div>
  <div class="d-flex justify-content-end">
    <a [routerLink]="['/types/create']" class=" btn btn-primary">
      Create New 
    </a>
  </div>
  <h1>
    Types
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let type of types">
          <td>{{type.id}}</td>
          <td>{{type.name}}</td>
          <td>
            <a [routerLink]="['/types/edit', type.id]" class="btn btn-secondary">
              Edit
            </a>
          </td>
        </tr>
      </tbody>
   </table>
</div>
