
<loading-spinner *ngIf="isLoading" message="Loading Products..." (cancel)="hideSpinner()" />

<div>
  <div class="d-flex justify-content-end">
    <a [routerLink]="['/products/create']" class="btn btn-primary">
      Create New
    </a>
  </div>

  <h1>
    Products
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <div>
            <a [routerLink]="['/products/edit', product.id]" class="btn btn-secondary">
              Edit
            </a>
            <delete-button (delete)="deleteProduct(product.id!)"></delete-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
